<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
	<h:outputStylesheet library="css" name="css/style.css" />
    </h:head>
    <h:body>
            <h:form>
                <h3>#{msgs.loginHello}: #{userBean.user.name} || <h:commandLink action="#{userBean.logOut()} value="#{msgs.logout}" /> </h3>

                    <h:messages />
                    <h:dataTable value="#{customerBean.allCustomers}" var="customer" styleClass="table" headerClass="tableColumnsHeader" rowClasses="tableFirstLine,tableNextLine" >
                            <h:column>
                                    <f:facet name="header">
                                            #{msgs.customerName}
                                    </f:facet>

                                    #{customer.name}
                            </h:column>
                            <h:column>
                                    <h:panelGrid columns="2">                                         
                                            <h:inputHidden value="#{customer.id}" />

                                            <h:commandButton action="#{customerBean.updateCustomerStart()}" value="#{msgs.update}" rendered="#{userBean.userAdmin}" >
                                                <f:setPropertyActionListener target="#{customerBean.customer}" value="#{customer}" />
                                            </h:commandButton>
                                            <h:commandButton action="#{customerBean.deleteCustomerStart()}" value="#{msgs.delete}" rendered="#{userBean.userAdmin}" >
                                                    <f:setPropertyActionListener target="#{customerBean.customer}" value="#{customer}" />
                                            </h:commandButton>
                                    </h:panelGrid>
                            </h:column>
                    </h:dataTable>
                    <h:commandButton action="createCustomer" value="#{msgs.create} #{msgs.customer}" />
            </h:form>
    </h:body>
</html>
