<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <h:head>
	<h:outputStylesheet library="css" name="css/style.css" />
    </h:head>	
    <h:body>
            #{msgs.loginErrorMessage}
    </h:body>
</html>
