<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Login</title>
    <h:outputStylesheet library="css" name="css/style.css" />
    </h:head>
    <h:body>
            <p>Login</p>
            <form method="post" action="j_security_check">
                    <h:messages layout="table" errorStyle="background: #AFEEEE;"
                            infoStyle="background: #AFEEEE;" globalOnly="true" />
                    <h:panelGrid columns="2">
                            <h:outputLabel value="Username: " />
                            <input type="text" id="j_username" name="j_username" />
                            <h:outputLabel value="Password: " />
                            <input type="password" id="j_password" name="j_password" />
                            <h:outputText value="" />
                            <h:panelGrid columns="1">
                                    <input type="submit" name="submit" value="Login" />
                            </h:panelGrid>
                    </h:panelGrid>
                    <br />
            </form>
    </h:body>
</html>

