/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 févr. 2015, 11:05:00
    Author     : Opium
*/
.table {
	border-collapse: collapse;
}

.tableColumnsHeader {
	text-align: center;
	background: none repeat scroll 0 0 #E5E5E5;
	border-bottom: 1px solid #BBBBBB;
	padding: 16px;
}

.tableFirstLine {
	text-align: center;
	background: none repeat scroll 0 0 #F9F9F9;
	border-top: 1px solid #BBBBBB;
}

.tableNextLine {
	text-align: center;
	background: none repeat scroll 0 0 #FFFFFFF;
	border-top: 1px solid #BBBBBB;
}

.panelGrid {
	border: 1px solid;
}

.panelFirstLine {
	text-align: center;
	border-top: 1px solid #BBBBBB;
}

.panelNextLine {
	text-align: center;
	border-top: 1px solid #BBBBBB;
}