<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Delete Customer</title>
    <h:outputStylesheet library="css" name="css/style.css" />
    </h:head>
    <h:body>
	<h:form>
		<h:messages/>
		
                <h3>#{msgs.customerDeleteHeader}: #{customerBean.customer.name}?</h3>
		<h:inputHidden value="#{customerBean.customer.id}" />
		<h:panelGrid columns="2">
                    <h:commandButton action="#{customerBean.deleteCustomerEnd()}" value="#{msgs.delete}" />
                    <h:commandButton action="#{customerBean.listAllCustomers()}" value="#{msgs.cancel}" immediate="true" />
		</h:panelGrid>
		<br/>
	</h:form>
</h:body>
</html>