<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Update Customer</title>
    <h:outputStylesheet library="css" name="css/style.css" />
    </h:head>
    <h:body>
	<h:form>
		<h:messages/>
		
		<h3>#{msgs.customerUpdateHeader}: #{customerBean.customer.name}</h3>
		<h:inputHidden value="#{customerBean.customer.id}" />
		<h:panelGrid columns="2" styleClass="panelGrid" rowClasses="panelFirstLine,panelNextLine" >
			<h:outputLabel for="customerName" value="#{msgs.customerName}" />
			<h:inputText id="customerName" value="#{customerBean.customer.name}" required="true" requiredMessage="#{msgs.customerNameRequired}" />
			
		</h:panelGrid>
		<h:panelGrid columns="2">
                    <h:commandButton action="#{customerBean.updateCustomerEnd()}" value="#{msgs.update}" />
                    <h:commandButton action="#{customerBean.listAllCustomers()}" value="#{msgs.cancel}" immediate="true" />
		</h:panelGrid>
		<br/>
	</h:form>
</h:body>
</html>
