<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <h1><h:outputText value="Add zone"/></h1>
            <h:panelGrid columns="2">
                <h:outputLabel value="Latitude : " for="latitude" />
                <h:inputText id="latitude" value="#{zoneController.zone.latitude}" title="Latitude" />
                <h:outputLabel value="Longitude : " for="longitude" />
                <h:inputText id="longitude" value="#{zoneController.zone.longitude}" title="Longitude" />
                <h:outputLabel value="Raduis : " for="radius" />
                <h:inputText id="radius" value="#{zoneController.zone.radius}" title="Radius" />
                <h:outputLabel value="Start Time : " for="start" />
                <h:inputText id="start" value="#{zoneController.zone.starttime}" title="StartTime" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                </h:inputText>
                <h:outputLabel value="End Time : " for="end" />
                <h:inputText id="end" value="#{zoneController.zone.endtime}" title="EndTime" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                </h:inputText>
            </h:panelGrid>
            <h:commandButton action="#{zoneController.add(param.id)}" value="Add zone" />
        </h:form>
    </h:body>
</html>

