<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Add car</title>
    </h:head>
    <h:body>
        <h:form>
            <h1><h:outputText value="Create car"/></h1>
            <h:panelGrid columns="2">
                <h:outputLabel value="Car name : " for="name" />
                <h:inputText id="name" value="#{carController.car.name}" title="CarName" />
                <h:outputLabel value="Brand : " for="brand" />
                <h:inputText id="brand" value="#{carController.car.brand}" title="Brand" />
                <h:outputLabel value="Entry year : " for="year" />
                <h:inputText id="year" value="#{carController.car.entryYear}" title="EntryYear" />
            </h:panelGrid>
            <h:commandButton action="#{carController.add}" value="Add car" />
        </h:form>
    </h:body>
</html>

