<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Your cars</title>
    </h:head>
    <h:body>
        <h:form>
            <h:commandLink action="#{userController.logout}" value="Log out" />
        </h:form>
        <h:dataTable value="#{carController.carDatamodel}" var="car">
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Name"/>
                </f:facet>
                <h:outputText value="#{car.name}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Brand"/>
                </f:facet>
                <h:outputText value="#{car.brand}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Entry Year"/>
                </f:facet>
                <h:outputText value="#{car.entryYear}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="GPS Position"/>
                </f:facet>
                <h:outputText value="#{car.longitude};#{car.latitude}"/>
            </h:column>
            <h:column>
                <h:outputLink value="edit_car.xhtml">
                    <h:outputText value="Edit" />
                    <f:param value="#{car.id}" name="id"/>
                </h:outputLink>
            </h:column>
            <h:column>
                <h:form>
                    <h:commandLink action="#{carController.delete(car.id)}" value="Delete" />
                </h:form>
            </h:column>
        </h:dataTable>
        <h:outputLink value="add_car.xhtml">
            <h:outputText value="Add car" />
        </h:outputLink>
        Here is your created cars :
    </h:body>
</html>

