<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <h1><h:outputText value="Edit car"/></h1>
            <h:panelGrid columns="2">
                <h:outputLabel value="Car name : " for="name" />
                <h:inputText id="name" value="#{carController.car.name}" title="CarName" />
                <h:outputLabel value="Brand : " for="brand" />
                <h:inputText id="brand" value="#{carController.car.brand}" title="Brand" />
                <h:outputLabel value="Entry year : " for="year" />
                <h:inputText id="year" value="#{carController.car.entryYear}" title="EntryYear" />
            </h:panelGrid>
            <h:commandButton action="#{carController.edit(param.id)}" value="Edit car" />
        </h:form>
        <h:dataTable value="#{zoneController.getZoneDatamodel(param.id)}" var="zone">
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Zone Coordonnes"/>
                </f:facet>
                <h:outputText value="#{zone.latitude};#{zone.longitude}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Radius"/>
                </f:facet>
                <h:outputText value="#{zone.radius}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Start Time"/>
                </f:facet>
                <h:outputText value="#{zone.starttime}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="End Time"/>
                </f:facet>
                <h:outputText value="#{zone.endtime}"/>
            </h:column>
            <h:column>
                <h:form>
                    <h:commandLink action="#{zoneController.delete(zone.id)}" value="Delete" />
                </h:form>
            </h:column>
        </h:dataTable>
        <h:outputLink value="add_zone.xhtml">
            <h:outputText value="Add zone" />
            <f:param value="#{param.id}" name="id"/>
        </h:outputLink>
    </h:body>
</html>

