<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:outputLink value="register.xhtml">
            <h:outputText value="Register" />
        </h:outputLink>
        <h:form>
            <p>
                Username:
                <h:inputText id="username" value="#{userController.username}" />
                <br />
                Password:
                <h:inputSecret id="password" value="#{userController.password}" />
            <br />
            <h:commandButton action="#{userController.login}" value="Login" />
            </p>
        </h:form>
    </h:body>
</html>

