<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Offer page</title>
    <h:outputStylesheet library="css" name="main.css" />
</h:head>
<h:body>
    <h1>Premium offer</h1>
    
    <br />
	<p>10$/mouth for each car</p>
        <p>Real time GPS position \n 
           Full history of GPS positions \n 
           Possibility to manage each car</p>

		<br />
</h:body>
</html>