<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <h1><h:outputText value="Register"/></h1>
            <h:panelGrid columns="2">
                <h:outputLabel value="Username:" for="username" />
                <h:inputText id="username" value="#{userController.user.username}" title="Username" />
                <h:outputLabel value="Password:" for="password" />
                <h:inputSecret id="password" value="#{userController.user.password}" title="Password" />
                <h:outputLabel value="FirstName:" for="firstName" />
                <h:inputText id="firstName" value="#{userController.user.firstName}" title="FirstName" />
                <h:outputLabel value="LastName:" for="lastName" />
                <h:inputText id="lastName" value="#{userController.user.lastName}" title="LastName" />
                <h:outputLabel value="Email:" for="email" />
                <h:inputText id="email" value="#{userController.user.email}" title="Email" />
                <h:outputLabel value="Phone number:" for="number" />
                <h:inputText id="number" value="#{userController.user.number}" title="Number" />
                <h:outputLabel value="Card number:" for="card" />
                <h:inputText id="card" value="#{userController.user.card}" title="Card" />
            </h:panelGrid>
            <h:commandButton action="#{userController.register}" value="Register" />
        </h:form>
    </h:body>
</html>

